.button-stack {
	display: flex;
	flex-direction: column;
	gap: calc(2px * var(--ui-scale));

	.button-wrapper {
		button {
			width: 100%;
		}
	}

	&.is-substack {
		padding-left: calc(10px * var(--ui-scale));
		position: relative;

		&:before {
			background-color: var(--palette-dark-grey);
			bottom: calc(5px * var(--ui-scale));
			content: '';
			display: block;
			left: calc(3px * var(--ui-scale));
			position: absolute;
			top: 0;
			width: calc(1px * var(--ui-scale));
		}

		.button-wrapper {
			position: relative;

			&:before {
				background-color: var(--palette-dark-grey);
				content: '';
				display: block;
				height: calc(1px * var(--ui-scale));
				position: absolute;
				right: calc(100% + (2px * var(--ui-scale)));
				top: calc(6px * var(--ui-scale));
				width: calc(4px * var(--ui-scale));
			}

			&:after {
				background-color: var(--palette-dark-grey);
				content: '';
				display: block;
				height: calc(6px * var(--ui-scale));
				position: absolute;
				right: calc(100% + (6px * var(--ui-scale)));
				top: 0;
				width: calc(1px * var(--ui-scale));
			}
		}
	}
}
