$sections: (
	'section01',
	'section02',
	'section03',
	'section04',
);

@keyframes hover-pulse {
	0% {
		border-color: hsla(var(--palette-white-hsl), 0);
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0);
	}

	12.5% {
		border-color: hsla(var(--palette-white-hsl), 0);
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), var(--pulse-stage-opacity)) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0);
	}

	25% {
		border-color: hsla(var(--palette-white-hsl), var(--pulse-stage-opacity));
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 2)) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0);
	}

	37.5% {
		border-color: hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 2));
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 3)) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), var(--pulse-stage-opacity));
	}

	50% {
		border-color: hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 3));
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 2)) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 2));
	}

	62.5% {
		border-color: hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 2));
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), var(--pulse-stage-opacity)) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 3));
	}

	75% {
		border-color: hsla(var(--palette-white-hsl), var(--pulse-stage-opacity));
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), calc(var(--pulse-stage-opacity) * 2));
	}

	87.5% {
		border-color: hsla(var(--palette-white-hsl), 0);
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), var(--pulse-stage-opacity));
	}

	100% {
		border-color: hsla(var(--palette-white-hsl), 0);
		box-shadow:
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0) inset,
			0 0 0 calc(var(--pulse-stage-width) * var(--ui-scale)) hsla(var(--palette-white-hsl), 0);
	}
}

@keyframes hover-flash {
	0% {
		box-shadow: 0 0 0 calc(1px * var(--ui-scale)) hsla(var(--flash-color), 0.8);
	}

	100% {
		box-shadow: 0 0 0 calc(1px * var(--ui-scale)) hsla(var(--flash-color), 0);
	}
}

.overworld-block {
	background-repeat: no-repeat;
	background-size: cover;
	left: calc(var(--left) * var(--ui-scale));
	position: absolute;
	top: calc(var(--top) * var(--ui-scale));

	&.level,
	&.boss,
	&.router {
		&:hover {
			z-index: 1;

			&:after {
				--pulse-stage-opacity: 0.2;
				--pulse-stage-width: 1px;

				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-name: hover-pulse;
				animation-timing-function: steps(3);
				border-color: hsla(var(--palette-white-hsl), 0);
				border-style: solid;
				border-width: calc(var(--pulse-stage-width) * var(--ui-scale));
				content: '';
				display: block;
				inset: calc((var(--pulse-stage-width) * 3) * var(--ui-scale) * -1);
				position: absolute;
			}
		}
	}

	&.level,
	&.lock {
		height: calc(16px * var(--ui-scale));
		width: calc(16px * var(--ui-scale));
	}

	&.boss {
		background-image: url('sprites/overworld-block.boss.background.png');
		height: calc(48px * var(--ui-scale));
		width: calc(48px * var(--ui-scale));

		@each $direction in ('bottom', 'left', 'right', 'top') {
			.connected-#{$direction} {
				background-image: url('sprites/overworld-block.boss.#{$direction}-connection.png');
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				inset: 0;
			}
		}
	}

	&.junction {
		background-image: url('sprites/overworld-block.junction.background.png');
		height: calc(4px * var(--ui-scale));
		width: calc(4px * var(--ui-scale));

		&:hover {
			--flash-color: var(--palette-blue-hsl);

			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-name: hover-flash;
			animation-timing-function: steps(2);
			z-index: 1;
		}
	}

	&.level {
		$connection-directions: (
			'bottom',
			'left',
			'right',
			'top',
		);

		background-image: url('sprites/overworld-block.level.background.png');
		padding-left: calc(2px * var(--ui-scale));
		text-align: left;

		span {
			position: relative;
		}

		@each $direction in ('bottom', 'left', 'right', 'top') {
			.connected-#{$direction} {
				background-image: url('sprites/overworld-block.level.#{$direction}-connection.png');
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				inset: 0;
			}
		}
	}

	&.lock {
		&:hover {
			--flash-color: var(--palette-red-hsl);

			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-name: hover-flash;
			animation-timing-function: steps(2);
			z-index: 1;
		}

		@each $section in $sections {
			&.#{$section} {
				background-image: url('sprites/overworld-block.lock.#{$section}.background.png');
			}
		}
	}

	&.router {
		background-image: url('sprites/overworld-block.router.background.png');
		height: calc(80px * var(--ui-scale));
		width: calc(80px * var(--ui-scale));
	}
}
